/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --header-title-color: #DB00FF;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --menu-color: #FF0070;
  --decor-color: #000028;
  --menu-focus-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.40);
  --bg-img: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #FF0070;
  --section-text-color: #F1B2CE;
  --link-border: #F1B2CE;
  --link-shadow-color: #FF0070;
  --decoration-color: #FF0070;
  --border-color: #FF0070;
}

.theme_dark .header__rec {
  visibility: visible;
}