/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --header-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --menu-color: #353430;
  --decor-color: #353430;
  --menu-focus-color: #353430;
  --menu-hover-color: rgb(53, 52, 48, 0.40);
  --bg-img: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #353430;
  --section-text-color: #353430;
  --link-border: #353430;
  --link-shadow-color: #FF8DCB;
  --decoration-color: #353430;
  --border-color: #353430;
}

.theme_light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --menu-color: #353430;
    --decor-color: #353430;
    --menu-focus-color: #353430;
    --menu-hover-color: rgb(53, 52, 48, 0.40);
    --bg-img: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --title-color: #353430;
    --section-text-color: #353430;
    --link-border: #353430;
    --link-shadow-color: #FF8DCB;
    --decoration-color: #353430;
    --border-color: #353430;
  }

  .theme_light .header__rec { 
    visibility: hidden; 
  }
}